{% extends 'base.html.twig' %}

{% block title %}Administration - Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Ajouter'}) }}

    <a class="btn btn-secondary" href="{{ path('admin_user_index') }}">Retour</a>
{% endblock %}
