{% extends 'base.html.twig' %}

{% block title %}Le Bon Coin - France{% endblock %}

{% block body %}
    <div class="m-1">
        <h1>Annonces : Toute la France
        </h1>
        {% if app.user %}
            <a class="btn btn-success" href="{{ path('post_new') }}">Déposer une annonce</a>
        {% endif %}
    </div>

    <div class="row gy-4">
        {% if posts is not empty %}
            {% for post in posts %}
                <div class="col-md-6 col-xl-4">
                    <div class="card h-100">
                        {{ include('common/post.html.twig') }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="card">
                <h3>Aucune annonce pour le moment.</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}
