{% extends 'base.html.twig' %}

{% block title %}Administration - Ajouter une annonce{% endblock %}

{% block body %}
    <h1>Ajouter une annonce</h1>

    {{ include('admin/post/_form.html.twig', {'button_label': 'Ajouter'}) }}

    <a class="btn btn-secondary" href="{{ path('admin_post_index') }}">Retour</a>
{% endblock %}
