{% extends 'base.html.twig' %}

{% block title %}TheRightCorner - Ajouter une annonce{% endblock %}

{% block body %}
    <h1>Ajouter une annonce</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Ajouter'}) }}

    <a class="btn btn-secondary" href="{{ path('home') }}">Retour</a>
{% endblock %}
